---
:HtmlBlockTag:
  :heading1: h2
  :heading2: h3
  :heading3: h4
  :heading4: h5
  :heading5: h6
  :heading6: h7
  :title: h1
:Tags:
  "*":
    :open: strong
    :close: strong
  "/":
    :open: em
    :close: em
  "_":
    :open: u
    :close: u